[Desktop Entry]
Version=1.0
Type=Application
Name=CITL App Sync
Comment=CITL - RTC/Whatcom Community College
Exec=bash -c 'HERE="$(dirname "$0")"; "$HERE/CITL App Sync.sh"' %k
Terminal=false
Categories=Utility;Education;
StartupNotify=true
