[Desktop Entry]
Version=1.0
Type=Application
Name=CITL Staff Toolkit
Comment=CITL - RTC/Whatcom Community College
Exec=bash -c 'HERE="$(dirname "$0")"; "$HERE/CITL Staff Toolkit.sh"' %k
Terminal=false
Categories=Utility;Education;
StartupNotify=true
